.main{
    border-top: 1px solid #CACACA;
    .list{
        li{
            list-style: none;
            font-size: 12px;
        }
        .logo{
            img{
                height: 50px;
            }
        }
    }
}